<div class="container-fluid footer mt-5">
    <div class="row">

        <!-- name -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>CréAnna</h1>
        </div>

        <!-- nav -->
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="">Accueil</a>
            <a routerLink="products">Produits</a>
            <a routerLink="aboutus">Qui somme nous</a>
            <a routerLink="contacts">Contacts</a>
        </div>

        <!-- social link -->
        <div class="col-lg-2 mt-3 mb-3">
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
            <a href=""><i class="bi bi-github"></i></a>
            <a href=""><i class="bi bi-whatsapp"></i></a>
        </div>
    </div>
</div>
