<div class="container mt-5 mb-5">
    <h1>Contact</h1>
    <form>
        <div class="row">
            <div class="lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Nom">
            </div>
            <div class="lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Prénom">
            </div>
            <div class="lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Adresse Mail">
            </div>
            <div class="lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Téléphone">
            </div>
            <div class="lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Votre Message">
            </div>
            <div class="lg-12">
                <button class="submitbtn">Envoyer</button>
            </div>
        </div>
    </form>
</div>